/* media queries */

/* min-width: 768px */

@media (min-width: 768px) {
	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	p {
		font-size: 1.125rem;
	}

	header,
	section {
		padding: 2.875em 0;
	}

	footer {
		padding: 0.625em 0;
	}

	.btn {
		display: inline-block;
		margin-right: 0.5em;
	}

	nav ul, header .container {
		display: flex;
	}

	nav ul {
		gap: 30px;
	}
	header .container {
		justify-content: space-between;
		align-items: center;
	}
}

/* max-width: 768px */

@media (max-width: 768px) {
	header {
		text-align: center;
	}

	nav {
		margin-top: 1.2em;
	}

	li:not(:last-child) {
		border-bottom: 1px solid #a190b6;
	}
}
