body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #2B283A;
}

/* typography */

h1,
h3 {
	margin: 0;
}

h1 {
	font-size: 2.25rem;
	color: #f5f5f5;
}

h2 {
	font-size: 1.75rem;
	margin-top: 0px;
}

.section-1 h2 {
	color: #451c7a;
}

h3 {
	color: #d0aaff;
	font-size: 1.25rem;
	margin-top: 0.625em;
}

/* links */

a {
	color: #ef5839;
	text-decoration: none;
	font-weight: 500;
}

a:hover,
a:active {
	color: #d4b44c;
}

/* layout */

header,
section {
	padding: 2.875em 0px;
}

header,
.section-2 {
	background-color: #5f29a3;
}

.section-2 {
	color: #f5f5f5;
}

.container {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}

p {
	line-height: 23px;
}

/* images */

.sneakers-img {
	display: block;
	max-width: 650px;
	width: 100%;
	margin: 0 auto 2em;
}

.imgs-container {
	display: flex;
	justify-content: space-between;
}

.feature-img {
	width: 49%;
	border-radius: 5px;
}

/* buttons */

.btn {
	font-size: 1.125rem;
	display: inline-block;
	border-radius: 5px;
	padding: 0.5em 1em;
	cursor: pointer;
	font-weight: 500;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

.btn:hover,
.btn:active {
	color: #2B283A;
	background-color: #f3e885;
}

.dark-btn {
	color: #f5f5f5;
	background-color: #5f29a3;
}

.mid-btn {
	color: #5f29a3;
	background-color: #f0e0ff;
}

.light-btn {
	color: #5f29a3;
	background-color: #f5f5f5;
}

/* footer */

footer {
	color: #5f29a3;
	text-align: center;
	padding: 10px 0px;
}
