body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #2B283A;
}

header {
	background-color: #5f29a3;
	padding: 45px 0px;
}

h1 {
	color: #f5f5f5;
	font-size: 36px;
	margin: 0;
}

h2 {
	margin-top: 0px;
}

h3 {
	color: #d0aaff;
	font-size: 20px;
	margin: 0;
}

section {
	padding: 45px 0px;
}

.sneakers-img {
	width: 100%;
}
